{% extends 'base.html.twig' %}

{% block title %}Nouvel Utilisateur{% endblock %}

{% block body %}
    <style>
        .colored-text {
            background: linear-gradient(to left top, #1d5294 50%, #bed73e 50%);
            -webkit-background-clip: text;
            color: transparent;
            display: inline-block;
        }

        .btn-group {
            margin-top: 20px;
        }

        .btn-group .btn {
            margin-right: 20px;
            margin-left: 20px;
            padding-top: 20px;
            padding-bottom: 20px;
        }
    </style>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center">
                <h1 class="">Choisissez un type d'utilisateur</h1>

                <div class="btn-group" role="group" aria-label="Choix d'enregistrement">
                    <a href="{{ path('app_register') }}" class="btn btn-primary" style="background-color: #bed73e;">Collaborateur</a>
                    <a href="{{ path('app_register_admin') }}" class="btn btn-success" style="background-color: #1d5294;">Représentant</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
