{% extends 'base.html.twig' %}

{% block title %}Modifier les Informations Collaborateur{% endblock %}

{% block body %}
    <a href="{{ path('show_collaborateur', {'id': collaborateur.id}) }}"><i class="fas fa-chevron-left h1 float-left"></i></a>
    <h2 class='text-center mb-5 font-weight-bold'>Modifier les Informations Collaborateur</h2>

    {{ include('collaborateur/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
{% endblock %}